<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <img src="assets/img/logoVectorPokemon.png">
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons has-addons">
          <a class="button is-text is-inverted is-outlined" routerLink="">
            <strong>Inicio</strong>
          </a>
          <a class="button is-white" ng-href (click)="showMessage()">
            Registro
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
