<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title welcome">¡Bienvenidos entrenadores!</h1>
    </div>
  </div>
</section>
<br>
<div class="columns">
  <div class="column">
    <div class="notification is-success">
      <button class="delete"></button>
        ¡Hola a todos! ¡Bienvenidos al mundo de POKÉMON! ¡Me llamo OAK! ¡Pero la gente me llama el PROFESOR POKÉMON! ¡Este mundo está habitado por unas criaturas llamadas POKÉMON! Para algunos, los POKÉMON son mascotas. Pero otros los usan para pelear. En cuanto a mí... Estudio a los POKÉMON como profesión. Pero primero dime como te llamas. (...) ¡Bien! ¡Tu nombre es Jugador*! Este es mi nieto. Él ha sido tu rival desde que eras un niño. ...Mmm, ¿Podrías decirme cómo se llama? (...) ¡Ah, sí! ¡Ahora lo recuerdo! ¡Se llama *Rival*! ¡*Jugador*! ¡Tu propia leyenda POKÉMON está a punto de comenzar! ¡Te espera un mundo de sueños y aventuras con los POKÉMON! ¡Adelante!
    </div>
  </div>
  <div class="column">
    <div class="notification is-warning">
      <button class="delete"></button>
      Eh! ¡Alto! ¡No te vayas!
    ¡Cuidado! ¡En la hierba viven POKÉMON salvajes! Necesitas a tu propio POKÉMON como protección! ¡Yo lo sé! ¡Ven conmigo! (RA)
    ¡Ufff! ¡Eso estuvo cerca! ¡En la hierba viven Pokémon salvajes! (Un Pikachu salvaje aparece y el profesor Oak lo captura)

    Vaya... Los Pokémon pueden aparecer en la hierba alta en cualquier momento. ¡Necesitas a tu propio Pokémon como protección! ¡Yo lo sé! ¡Ven conmigo!! (Am)
    </div>
  </div>

  <div class="column">
    <div class="notification is-danger">
      <button class="delete"></button>
      ¿*Rival*? Déjame pensar... ¡Ah, sí! Te pedí que vinieras. Espera... ¡Jugador*, toma! ¡Aquí hay 3 POKÉMON! ¡Bien! ¡Están dentro de las POKÉ BALL! ¡Cuando yo era joven, era un buen entrenador de POKÉMON! Pero ahora sólo me quedan 3. Te daré uno. ¿Cuál quieres? (...) ¡Tranquilo Rival*! ¡Te daré a otro a ti! (RA)
      ¿*Rival*? Déjame pensar... ¡Ah, sí! Te pedí que vinieras más tarde... ¡No importa! Espera ahí. Mira, Jugador*. ¿Ves la bola que está en la mesa? Se llama Poké ball. Contiene un Pokémon en su interior. ¡Puedes Cogerla! ¡Es para ti! (...) Tranquilo Rival*, ¡Te daré otro a ti más tarde!
    </div>
  </div>

</div>
<!-- Modal para google login -->
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <table>
        <tr>
          <td>Jhon</td>
          <td>Hi</td>
        </tr>
      </table>
      <input type="text" class="input" />
    </div>
    <button class="modal-close"></button>
  </div>
